$font-family--Josefin: 'Josefin Sans', Arial, sans-serif;
$font-family--Aleo: 'Aleo', Arial, sans-serif;

$font-size--section-title: 36px;

$font-size--section-text: 16px;
$letter-spacing--section-text: 0.1em;