.country--first {
	background: #a6a0b8 url("../img/section-3-bg.jpg") 50% no-repeat;
	background-size: cover;
}

.country--second {
	background: #c54d49 url("../img/section-4-bg.jpg") 50% no-repeat;
	background-size: cover;
}

.country {
	padding-top: 230px;
	padding-bottom: 100px;
	
	&__box {
		background-color: rgba(0,0,0,0.6);
		padding: 50px 30px;
		width: 43.3%;
	}

	&__title,
	&__subtitle {
		font-size: 19px;
		margin: 0;
		margin-bottom: 20px;
	}

	&__subtitle {
		text-transform: uppercase;
		font-weight: 400;
	}

	&__text {
		// font-size: 16px;
		font-size: 13px;
    	letter-spacing: 0.02em;
		margin: 0;
		margin-bottom: 40px;
	}

	&__box--second {
		margin-left: auto;
	}

}