.form {
	display: flex;
	justify-content: center;
	width: 70%;
	margin: 0 auto 120px;
	
	&__input {
		box-sizing: border-box;
		font-size: 14px;
		letter-spacing: 0.2em;
		height: 60px;
		width: 500px;
		padding: 0;
		text-align: center;
		border: none;
		
		&:hover {
			border: 2px dashed #374ba4;
		}

		&:focus {
			outline: none;
			border: 3px solid #ff6363;
		}
	}

	&__btn {
		height: 60px;
		width: 148px;
		padding: 0;
		background-color: #5474fd;
		border: 2px solid #ffffff;
		color: #ffffff;
		text-transform: uppercase;
		
		&:hover {
			background-color: #2e53ef;
		}

		&:focus {
			outline: none;
			border: 3px solid #ff6363;
		}
	}
}