.process-list {
	position: relative;
	
	&::before {
		content: "";
		position: absolute;
		width: 62%;
	    height: 100px;
	    bottom: 75px;
	    left: 19%;
		box-sizing: border-box;
		background-image: url("../img/shape-1.png");
		background-repeat: no-repeat;
		background-position: center center;
	}

	&__item {
		font-family: $font-family--Aleo;
		font-size: 36px;
		width: 33.3333333%;
		text-align: center;
		
		&.select {
			z-index: 0;
		}
	}

	&__icon {
		font-size: 55px;
		display: block;
		margin-bottom: 35px;
	}

	&__icon--search {
		color: #5474fd;
	}

	&__icon--select {
		color: #ff6363;
		background-color: #333333;
	}

	&__icon--book {
		color: #00a2ff;
	}

}