.reviews {
	background: #2b2d2d url("../img/section-5-bg.jpg") 50% no-repeat;
	background-size: cover;
	padding-top: 120px;
	padding-bottom: 200px;
	
	&__section-title {
		text-align: center;
		margin-bottom: 100px;
	}

	&__details {
		display: flex;
		position: relative;
		background-color: #333333;
	}

	&__title {
		margin: 0;
		margin-bottom: 38px;
		font-size: 19px;
		font-weight: 400;
		text-transform: uppercase;
		text-align: left;
	}

	&__text {
		padding: 50px 55px 43px 60px;
	}

	&__blockquote {
		margin: 0;
	}

	&__paragraph {
		position: relative;
	    font-size: 13px;
	    margin: 0;
	    text-indent: 29px;
	    text-align: justify;
	    letter-spacing: 0.02em;
	}
	
	&__qoute-icon {
		position: absolute;
		color: #5474fd;
		font-size: 20px;
		top: -13px;
		left: -30px;
	}
}